<!DOCTYPE html>
<html>
<head>
<title><%= title %></title>
<link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>

<!-- <script>
  var rqData = {
    "id":"",
    "completed":false,
    "text":"123"
  };
  var req = new XMLHttpRequest();
  req.open('POST', '/api', false);
  req.setRequestHeader('content-type','application/json;charset=utf-8');
  req.send(JSON.stringify(rqData));
  if(req.status == 200)
    console.log(req.responseText);
</script> -->
</body>
</html>
